<p style="text-align: center;">Go to:
{% include link_or_b.html href="/blog/2007-10-25/first-contact-with-atmega8-microcontroller-part-1" text="part 1" %},
{% include link_or_b.html href="/blog/2007-10-26/first-contact-with-atmega8-microcontroller-part-2" text="part 2" %},
{% include link_or_b.html href="/blog/2011-08-10/first-contact-with-atmega8-microcontroller-part-2-1" text="part 2.1" %}
(<a href="http://www.youtube.com/watch?v=sr0B-5Bhxdg">video</a>),
{% include link_or_b.html href="/blog/2007-11-02/first-contact-with-atmega8-microcontroller-part-3" text="part 3" %},
{% include link_or_b.html href="/blog/2008-02-02/first-contact-with-atmega8-microcontroller-part-4" text="part 4" %}
(<a href="http://www.youtube.com/watch?v=V7ESjm2bG-A">video</a>),
<a href="https://github.com/denilsonsa/atmega8-blinking-leds">source-code</a>.
</p>
{% comment %} vi:ft=liquid: {% endcomment %}
