---
layout: base
---
</head>
<body>

	<div class="site">
		<header>
			<nav>
				<a href="{{ site.baseurl }}/" class="favicon"><img src="{{ site.baseurl }}/MyPhoto2014-64x64.jpg" alt=""> {{ site.name }}</a>
				<!-- <a href="{{ site.baseurl }}/blog/">Blog</a> -->
			</nav>
		</header>

		<!-- TODO: Use article element.
		Using HTML5 structural elements:
		http://blog.teamtreehouse.com/use-html5-sectioning-elements
		https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article
		http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#the-article-element
		-->

		<main role="main">
			{{ content }}
		</main>

		{% comment %}
		<address> inside <footer> is a great place to put contact information:
		https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer
		https://developer.mozilla.org/en-US/docs/Web/HTML/Element/address

		A link to Google+ must include ?rel=author
		https://support.google.com/webmasters/answer/2539557
		https://support.google.com/webmasters/answer/1408986
		https://plus.google.com/authorship

		TODO: Check these tips and see if they are valid:
		http://www.iacquire.com/blog/18-meta-tags-every-webpage-should-have-in-2013
		https://developers.google.com/+/web/snippet/
		https://support.google.com/webmasters/answer/146646
		https://support.google.com/webmasters/answer/1211158

		Tool:
		https://www.google.com/webmasters/tools/richsnippets

		TODO: Mark the article using schema.org
		http://schema.org/Article
		http://schema.org/BlogPosting
		{% endcomment %}
		<footer>
			<address>
				<a href="{{ site.data.aboutme.email.href }}">Denilson Sá</a>:
				<a href="{{ site.data.aboutme.googleplus.href }}?rel=author">{{ site.data.aboutme.googleplus.text1 }}{% if site.data.aboutme.googleplus.text2 %} {{ site.data.aboutme.googleplus.text2 }}{% endif %}</a>
				{% assign items = "twitter facebook github bitbucket" | split: ' ' %}
				{% for itemname in items %}
					{% assign item = site.data.aboutme[itemname] %}
					<a href="{{ item.href }}">{{ item.text1 }}{% if item.text2 %} {{ item.text2 }}{% endif %}</a>
				{% endfor %}
			</address>
		</footer>

	</div>

</body>

{% comment %} vi:ft=liquid: {% endcomment %}
