---
layout: default
---
<!--
TODO: Use microdata as described in:
http://www.ihid.co.uk/blog/markup-your-blog-using-schema-org
https://developers.google.com/+/web/snippet/
See also the code examples from:
http://www.w3.org/TR/html5/text-level-semantics.html#the-time-element
-->

<p><a href="{{ page.previous.url }}">previous post</a> - <a href="{{ page.next.url }}">next post</a></p>

<article>

<!-- http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#the-time-element -->
<time datetime="{{ page.date | date: '%F' }}" class="date-as-calendar">
{% comment %}
See: http://docs.shopify.com/themes/liquid-basics/output#date
{% endcomment %}
<span class="weekday">{{ page.date | date: '%A' }}</span>
<span class="day">{{ page.date | date: '%-d' }}</span>
<span class="month">{{ page.date | date: '%B' }}</span>
<span class="year">{{ page.date | date: '%Y' }}</span>
</time>

<h1>{{ page.title }}</h1>

<p>Tags: {{ page.tags | sort | join: ', ' }}</p>

<div class="post">
{{ content }}
</div>

<footer>
	<object id="aboutme-footer" data="{{ site.url }}/aboutme-hex-horizontal.svg" type="image/svg+xml">
		<!-- TODO: add some fallback here. -->
		<a href="{{ site.url }}/aboutme-hex-horizontal.svg">This SVG file</a> was supposed to be embedded here.
	</object>
</footer>

</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	// http://help.disqus.com/customer/portal/articles/472098-javascript-configuration-variables
	var disqus_shortname = 'denilsonsa';
	var disqus_identifier = '{{ page.id }}';
	var disqus_title = {{ page.title | jsonify }};
	//var disqus_url = '';

{% comment %}
// TODO: remove the Liquid comment tag to enable Disqus.
	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
{% endcomment %}
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>  <em>TODO: uncomment disqus code to enable comments (when deploying to production)</em>

{% comment %} vi:ft=liquid: {% endcomment %}
